.Weather{
    border: 1px solid black;
}
.city{
    color: beige;
    font-size: 40px;
    position: relative;
    text-align: center;
    top: 70px;
}
.temp{
    color: beige;
    font-size: 30px;
    position: relative;
    top: 70px;
}

.descrip{
    color: beige;
    font-size: 20px;
    position: relative;
    top: 70px;
    
}
.add{
    color: beige;
    position: relative;
    left: -150px;

}
.time{
    color: beige;
    position: relative;
    left: -150px;
}